In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('KitCat_Dataset_Rev1.0.csv')

In [3]:
df.head()

,Wearable-1,Ax,Ay,Az,Gx,Gy,Gz,Sensor time,Unnamed: 8,Wearable-2,Ax.1,Ay.1,Az.1,Gx.1,Gy.1,Gz.1,Sensor time.1
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,192.168.43.159,-0.047363,0.980957,-0.030762,2.075195,-1.037598,-0.427246,186000000.0
1,192.168.43.70,-0.465820,0.709961,0.703125,-8.178711,9.216309,-4.577637,204000000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,192.168.43.159,-0.035645,0.985352,-0.043945,2.319336,-1.647949,-0.366211,186000000.0
3,192.168.43.70,-0.495605,0.709961,0.716797,-3.845215,0.305176,-1.159668,204000000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,192.168.43.159,-0.025391,0.988281,-0.033691,1.953125,-0.915527,-0.488281,186000000.0

In [4]:
del df['Unnamed: 8']

In [6]:
df.head()

,Wearable-1,Ax,Ay,Az,Gx,Gy,Gz,Sensor time,Wearable-2,Ax.1,Ay.1,Az.1,Gx.1,Gy.1,Gz.1,Sensor time.1
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,192.168.43.159,-0.047363,0.980957,-0.030762,2.075195,-1.037598,-0.427246,186000000.0
1,192.168.43.70,-0.465820,0.709961,0.703125,-8.178711,9.216309,-4.577637,204000000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,192.168.43.159,-0.035645,0.985352,-0.043945,2.319336,-1.647949,-0.366211,186000000.0
3,192.168.43.70,-0.495605,0.709961,0.716797,-3.845215,0.305176,-1.159668,204000000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,192.168.43.159,-0.025391,0.988281,-0.033691,1.953125,-0.915527,-0.488281,186000000.0

In [15]:
df_w1=df.iloc[:,0:8]
df_w2=df.iloc[:,8:16]

In [17]:
df_w1.head()

,Wearable-1,Ax,Ay,Az,Gx,Gy,Gz,Sensor time
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,192.168.43.70,-0.465820,0.709961,0.703125,-8.178711,9.216309,-4.577637,204000000.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,192.168.43.70,-0.495605,0.709961,0.716797,-3.845215,0.305176,-1.159668,204000000.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df_w2.head()

,Wearable-2,Ax.1,Ay.1,Az.1,Gx.1,Gy.1,Gz.1,Sensor time.1
0,192.168.43.159,-0.047363,0.980957,-0.030762,2.075195,-1.037598,-0.427246,186000000.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,192.168.43.159,-0.035645,0.985352,-0.043945,2.319336,-1.647949,-0.366211,186000000.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,192.168.43.159,-0.025391,0.988281,-0.033691,1.953125,-0.915527,-0.488281,186000000.0

In [23]:
df_w1=df_w1.dropna()
df_w2=df_w2.dropna()

In [26]:
del df_w1['Wearable-1']
del df_w2['Wearable-2']

In [27]:
df_w1.head()

         Ax        Ay        Az        Gx         Gy        Gz  Sensor time
1 -0.465820  0.709961  0.703125 -8.178711   9.216309 -4.577637  204000000.0
3 -0.495605  0.709961  0.716797 -3.845215   0.305176 -1.159668  204000000.0
5 -0.507812  0.682129  0.697266 -5.126953  -7.202148  2.746582  204000000.0
7 -0.474609  0.687012  0.666504 -2.929688 -10.864258  1.281738  204000000.0
9 -0.479004  0.709473  0.658691 -2.319336  -7.141113  0.854492  204000000.0

In [28]:
df_w2.head()

       Ax.1      Ay.1      Az.1      Gx.1      Gy.1      Gz.1  Sensor time.1
0 -0.047363  0.980957 -0.030762  2.075195 -1.037598 -0.427246    186000000.0
2 -0.035645  0.985352 -0.043945  2.319336 -1.647949 -0.366211    186000000.0
4 -0.025391  0.988281 -0.033691  1.953125 -0.915527 -0.488281    186000000.0
6 -0.041016  0.983398 -0.036133  1.708984 -0.122070 -0.488281    186000000.0
8 -0.053223  0.985352 -0.040527  1.770020 -0.244141 -0.244141    186000000.0

In [29]:
df_w1.describe()

,Ax,Ay,Az,Gx,Gy,Gz,Sensor time
count,1240.000000,1240.000000,1240.000000,1240.000000,1240.000000,1240.000000,1.240000e+03
mean,-0.221472,-0.363809,0.341126,1.448059,1.400954,-6.107503,2.167613e+08
std,0.182844,0.723290,0.486758,46.051944,14.862944,31.651903,7.433284e+06
min,-1.496582,-1.993652,-0.843750,-145.568848,-95.458984,-261.230469,2.040000e+08
25%,-0.323242,-0.884399,-0.070923,-15.991211,-4.028320,-5.508423,2.100000e+08
50%,-0.222656,-0.687500,0.539062,0.244141,0.122070,-1.281738,2.170000e+08
75%,-0.102051,0.462280,0.736816,10.437012,4.898071,2.441406,2.230000e+08
max,0.406738,1.059570,1.150879,249.877930,175.537109,39.123535,2.290000e+08